.tabs__header {
  display: flex;
  border-bottom: 1px solid var(--black);
  align-items: center;
}

.tabs {
  flex: 1;
}

.tabs, .tabs__tab {
  display: flex;
}

.tabs__tab {
  align-items: center;
  gap: 0.5rem;
  border-right: 1px solid var(--black);
  width: fit-content;
  padding: 0.5rem;
  font-size: 0.9rem;
  background-color: var(--teal);
  user-select: none;
  border-bottom: 2px solid var(--teal);
}

.tabs__tab:hover {
  cursor: pointer;
}

.tabs__tab--active {
  background-color: var(--white);
  border-bottom: 2px solid var(--black);
}

.tabs__add_button {
  padding: 0.25rem;
  margin: 0 0.25rem;
}

.tabs__add_button, .close {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.tabs__add_button, .close {
  border-radius: 3px;
}

.close {
  padding: 0;
}

.tabs__add_button:hover, .close:hover {
  background-color: var(--teal-hover);
}

.tab {
  position: relative;
}

.tab__tooltip {
  position: absolute;
  background-color: var(--zinc);
  color: var(--white-zinc);
  left: 50%;
  top: -120%;
  transform: translateX(-50%);
  padding: 0.5rem;
  border-radius: 4px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease 0s, visibility 0s linear 0s;
  z-index: 10;
}

.tab__tooltip > h6, .tab__tooltip > p {
  margin: 0;
}

.tab__tooltip > h6 {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}

.tab__tooltip > p {
  font-size: 0.7rem;
}

.tab__tooltip:has(+ .tabs__tab:hover) {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease 1s, visibility 0s linear 1s;
}