:root {
  --black: #000000;
  --white: #FFFFFF;
  --red: oklch(57.7% 0.245 27.325);
  --yellow: oklch(68.1% 0.162 75.834);
  --green: oklch(27.7% 0.046 192.524);
  --neutral: oklch(37.1% 0 0);
  --teal: oklch(98.4% 0.014 180.72);
  --teal-hover: oklch(95.3% 0.051 180.801);
}

main {
  border: 1px solid var(--black);
  border-radius: 8px;
  overflow: hidden;
}